@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;600;700;800&display=swap');

body {
	margin: 0;
	color: #fff;
	font-family: 'Montserrat', sans-serif;
	line-height: 24px;
	overscroll-behavior: none;
	overflow: hidden;
	font-size: 21px;
}

.canvas-container{
	width: 100vw;
	height: 100vh;
}

a{
	text-decoration: none;
}
a:link, a:visited{
color: white;
}
canvas {
	display: block;
}


.soon{
	font-size: 150px;
	position: absolute;
	TOP: 48VH;
	LEFT: 40VW;
	line-height: 80%;
	margin: 0;
}


  .hebrew ,.inner-info2 {
	position: absolute;
	top: 0;
	left:0;
	width: 100vw;
	height: 100vh;


	clip-path: circle(8%  at 0 0);
	background: rgba(0, 0, 0, 0.8);
	-webkit-backdrop-filter: blur(10px);
	backdrop-filter: blur(10px);
  }

  .hebrew {
	transition: all 0.5s ease-out;
	  z-index: 99;
	clip-path: circle(0 at 50% 94%);
  }
  .hebrew2 {
	  display: none;
	position: absolute;
	top: 0;
	left:0;
	width: 100vw;
	height: 100vh;
	  z-index: 99999;
	clip-path: circle(40% at 50% 94%);
	background: rgba(0, 0, 0, 0.8);
  }
  .hebrew3 {
	  display: none;
	position: absolute;
	top: 0;
	left:0;
	width: 100vw;
	height: 100vh;
	  z-index: 99999;
	clip-path: circle(40% at 50% 6%);
	background: rgba(0, 0, 0, 0.8);
  }


  .inner-info-hover {
	clip-path: circle(75%) !IMPORTANT;
  }
  .ease{
	transition: all 0.5s ease-out;

  }

  .overlayui{
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 999;
	overflow: hidden;
  }
  .btn-wraper{
		position: absolute;
		bottom: 3.9VW;
		right:3.9VW;
		z-index: 99999;
		/* width: 68px; */
		display: flex;

		}
		.left {
			margin-right: 20px;
		}
		.left .underbar, .middle .underbar{
			margin-top: -3px;
		}
		.lang:hover .underbar ,.left:hover .underbar , .middle:hover .underbar{
			width: 100%;
		}
		.logo{
			position: absolute;
		  top: 3.9VW;
		  left: 3.9VW;
		  z-index: 9;
		}

.lang{
	position: absolute;
	bottom: 3.9VW;
	left: 50%;
	transform: translatex(-50%);
	z-index: 9;
}

.row-1{
  display: flex;
  flex-direction: row;
  margin-bottom: 7.4VH;
}

.row-1 .img{
height: 5.6VH;
width: 20%;
text-align: center;
}
.row-1:last-child .img{
width: 25%;
}
.img img{
height: 100%;
width: auto;
margin: auto;
}

.link{
  position: absolute;
  top: 3.9VW;
  right: 3.9VW;
	z-index: 9;
	line-height: 30px;
	font-size: 21px;
  font-weight: bold;

}

  .fas{

	font-size: 20px;
	 position: absolute;
	bottom: 3.9VW;
left: 3.9VW;
	z-index: 9;
	cursor: pointer;
	-webkit-transition: all 0.7s ease;
	transition: all 0.7s ease;

  }

.fas:hover .underbar ,.link:hover .underbar{
	width: 100%;
}


  .content-wrapper > h2{
	  font-size: 50px;
	  margin: 0;
	  line-height: 50px;
	  margin-bottom: 75px;
  }

  .content-wrapper{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	/* width: 100VW;
	height: 100VH; */
  }

  .underbar{
	width: 0;
	height: 1px;
	background:white;
	-webkit-transition: 0.5s ease;
  }

  .opacity{
	  opacity: 0;
  }

  .soon,.fas,.btn-wraper,.link,.lang,.logo, .content-wrapper h2{
	-webkit-transition: opacity 0.7s ease;
	transition: opacity 0.7s ease;
  }