@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;600;700;800&display=swap');

body {
	margin: 0;
	color: #fff;
	font-family: 'Montserrat', sans-serif;
	line-height: 24px;
	overscroll-behavior: none;
	overflow: hidden;
	font-size: 21px;
	/* background: transparent;
    transition: background-color 2s ease; */
}


.canvas-container{
	width: 100vw;
	height: 100vh;
}

a{
	text-decoration: none;
}
a:link, a:visited{
color: white;
}
canvas {
	display: block;
}


.soon{
	font-size: 150px;
	position: absolute;
	TOP: 40%;
	transform: translateY(-50%);
	LEFT: 40VW;
	line-height: 80%;
	margin: 0;
}


  .hebrew ,.inner-info2 {
	position: absolute;
	top: 0;
	left:0;
	width: 100vw;
	height: 100vh;


	clip-path: circle(8%  at 0 0);
	background: rgba(0, 0, 0, 0.5);
	-webkit-backdrop-filter: blur(10px);
	backdrop-filter: blur(10px);
  }
.bg-op{
	background: rgba(0, 0, 0, 0.8);
}
  .hebrew {
	transition: all 1s ease-in-out;
	  z-index: 99;
	clip-path: circle(0 at 50% 94%);
  }



  .inner-info-hover {
	clip-path: circle(75%) !IMPORTANT;
  }
  .ease{
	/* transition: all 0.5s ease-out; */

	transition: all 1s ease-in-out;

  }

  .overlayui{
	position: absolute;
	top: 0;
	left: 0;
	height: 100vh;
	width:100vw;
	z-index: 999;
	overflow: hidden;
  }
  .btn-wraper{
		position: absolute;
		bottom: 3.9VW;
		right:3.9VW;
		z-index: 99999;
		/* width: 68px; */
		display: flex;

		}
		.left {
			margin-right: 20px;
		}
		.left .underbar, .middle .underbar{
			margin-top: -3px;
		}
		.lang:hover .underbar ,.left:hover .underbar , .middle:hover .underbar{
			width: 100%;
		}
		.logo{
			position: absolute;
		  top: 3.9VW;
		  left: 3.9VW;
		  z-index: 9;
		}

.lang{
	position: absolute;
	bottom: 3.9VW;
	left: 50%;
	transform: translatex(-50%);
	z-index: 9;
}
.grid-1, .row-1{
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	text-align: center;
	grid-row-gap:7.4VH;

}
.row-1{
	grid-template-columns: repeat(4, 1fr);

}

.grid-1 .img, .row-1 .img{
height: 5.6VH;


}
.row-1 .img{

margin-top: 7.4VH;
}
.img img{

height: 100%;
width: auto;
margin: auto;
}

.link{
  position: absolute;
  top: 3.9VW;
  right: 3.9VW;
	z-index: 9;
	line-height: 30px;
	font-size: 21px;
  font-weight: bold;

}

  .fas{

	font-size: 20px;
	 position: absolute;
	bottom: 3.9VW;
	left: 3.9VW;
	z-index: 9;
	cursor: pointer;
	-webkit-transition: all 0.7s ease-in-out;
	transition: all 0.7s ease-in-out;

  }

.fas:hover .underbar ,.link:hover .underbar{
	width: 100%;
}


  .content-wrapper > h2{
	  font-size: 50px;
	  margin: 0;
	  line-height: 50px;
	  margin-bottom: 75px;
  }

  .content-wrapper{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

  }

  .underbar{
	width: 0;
	height: 1px;
	background:white;
	-webkit-transition: 0.5s ease-in-out;
  }

  .opacity{
	  opacity: 0;
  }

  .soon,.fas,.btn-wraper,.link,.lang,.logo, .content-wrapper h2{
	-webkit-transition: opacity 1.6s ease-in-out;
	transition: opacity 1.6s ease-in-out;
  }

  @media only screen and (max-width: 1025px) {
	.hebrew ,.inner-info2{
		clip-path: circle(0 at 50% 100%);
	}
	.soon{
		top: 20vh;
		left: 50%;
		transform: translateX(-50%);
		text-align: center;
		font-size: 12vw;
	}
	.row-1{
		padding-top: 7.4VH;

	}
	.row-1 ,.grid-1{
		grid-template-columns: repeat(2, 1fr);

	}
	.row-1 .img{
		margin: 0;
	}
	.content-wrapper{
		/* overflow: scroll; */
		position: initial;
		width: 100%;
		margin: 10vh 0;
		transform: initial;

	}
	.inner-info-hover{
		height: 100vh;
		overflow: auto;
	}
	.content-wrapper h2{
		text-align: center;
	}
}
  @media only screen and (max-width: 600px) {
	.soon{
		font-size: 16vw;
		top: 18vh;
	}
	.content-wrapper h2{
		font-size: 36px;
		margin-bottom: 50px;
	}
  }


  /* css test */
  #progress {
    display: none;
	position: absolute;
	top: 0;
	left:0;
	width: 100vw;
	height: 100vh;


	clip-path: circle(0%  at 50% 50%);
	/* background: rgba(0, 0, 0, 0.8); */
	background: black;
	-webkit-backdrop-filter: blur(10px);
	backdrop-filter: blur(10px);
    /* z-index:999999999; */
}


#gallery {
	display: none;
	position: absolute;
	top: 0;
	left:0;
	width: 100vw;
	height: 100vh;
	text-align: center;

	clip-path: circle(20%  at 50% 50%);
	/* background: rgba(0, 0, 0, 0.8); */
	background: red;
	/* -webkit-backdrop-filter: blur(10px);
	backdrop-filter: blur(10px); */
	/* z-index:999; */
}
#gallery img , #progress img{
	width: 29%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	/* transform: scale(1); */
}
/* img {
    width: 100%;
    cursor: pointer;
    transform: scale(1);
} */

/* .fadeIn {
    transform: scale(0) !important;
    opacity: 0 !important;
    transition: all 1s 1.5s;
} */

.expand {
    opacity: 0 !important;
    transition: opacity 2s !important;
}