@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;600;700;800&display=swap');

body {
	margin: 0;
	color: #fff;
	font-family: 'Montserrat', sans-serif;
	line-height: 24px;
	overscroll-behavior: none;
	overflow: hidden;
}


canvas {
	display: block;
}




.inner-info {
	position: absolute;
	width: 100vw;
	height: 100vh;
	background: transparent;
	transition: all 0.5s ease-out;
	clip-path: circle(0 at -5% 105%);

  }

  .inner-info .inner-info-txt {

  }



  .inner-info-hover {
	clip-path: circle(75%);
	background: rgba(0, 0, 0, 0.8);

	-webkit-backdrop-filter: blur(10px);
	backdrop-filter: blur(10px);
  }

  .inner-info i {
	color: white;
	position: absolute;
	font-weight: bold;
  }

  .inner-info:hover i {
	opacity: 0;
  }

.info2 {
	position: absolute;
	transition: all 0.5s ease-out;
  }

  .fas{
	 position: absolute;
	bottom: 0;
left: 0;
	z-index: 9999;
  }

  .close{

  }

  .content-wrapper > h2{
	  font-size: 50px;
	  margin: 0;
	  line-height: 50px;
	  margin-bottom: 75px;
  }

  .content-wrapper{
	position: absolute;
	top: 0;
	left: 0;


	  margin: 145px 0 145px 375px;
	  /* width: calc(100vw - 750px); */
	/* height: calc(100vh - 290px); */
	width: 1170px;
  }

  .bg{

	position: absolute;;
	width:150px;
	height:150px;
	background:url("https://images.unsplash.com/photo-1512505965932-0dbfa7e7b8c8?ixlib=rb-1.2.1&q=85&fm=jpg&crop=entropy&cs=srgb&ixid=eyJhcHBfaWQiOjE0NTg5fQ") ;

	 background-size: 960px 1300px;
	background-attachment:fixed;
   -webkit-background-clip: content-box;
	text-align:center;
	border-radius:180px;
	/* transition: top 0.12s ease; */
	z-index: 999999;
  }